* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: linen;
  color: #333;
  font-size: 0.9375rem;
  /* 줄간격 */
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.main {
  color: blue;
  line-height: 2.5;
}

/*
h1 {
  color: red;
}*/

.title {
  text-align: center;
  font-size: 4rem;
  font-size: clamp(2rem, 5em, 4rem) !important;
  color: black;
  white-space: normal;
  word-break: break-word;
}

.team {
  max-width: 1920px;
  margin: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.navbar {
  background-color: black;
  color: #fff;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: clamp(1rem, 3vw, 1.125rem);
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #ddd;
  background-color: #aaa;
}

button {
  padding: 0.3125rem 0.625rem;
  margin: 0.3125rem 0.625rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: lightgray;
  border-radius: 0.3125rem;
}

button:hover {
  background-color: yellow;
  color: red;
}
/* test */
